<div class="center">
  <h2>Personal <%= params[:project_type] if params[:project_type] %> Projects</h2>
  <p>I created the following projects by consulting countless online references and many books.</p>
  <p>Filter Projects by Technology</p>
</div>
